#diez_de_diamantes{
    position:absolute;
    left: 20px;
    top: 100px;
    z-index: 5;
}

#sota_de_diamantes{
    position:absolute;
    left: 35px;
    top: 115px;
    z-index: 4;
}

#reina_de_diamantes{
    position:absolute;
    left: 50px;
    top: 130px;
    z-index: 3;
}

#rey_de_diamantes{
    position:absolute;
    left: 65px;
    top: 145px;
    z-index: 2;
}

#as_de_diamantes{
    position:absolute;
    left: 80px;
    top: 160px;
    z-index: 1;
}